beautifultable==1.0.1
filelock==3.0.12
fire==0.4.0
Jinja2==3.0.1
MarkupSafe==2.0.1
PyQt5==5.15.4
PyQt5-Qt5==5.15.2
PyQt5-sip==12.9.0
pysondb==1.2.1
qt-material==2.8.8
six==1.16.0
termcolor==1.1.0
wcwidth==0.2.5
